---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "My Astro Learning Blog";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
        <style is:global>
            h1 {
                color: black;
                font-size: 42px;
            }
        </style>
        <style>
            pre {
                font-size: 12px;
                line-height: 13px;
                background: #2e2342;
                color: #efe;
                padding: 1rem;
            }
        </style>
    </head>
    <body>
        <BaseLayout pageTitle={pageTitle}>
            <h2>you Fool!</h2>

            <p>This is where I will post about my journey learning Astro.</p>

            <ul>
                {
                    allPosts.map((post) => (
                        <li>
                            <a href={post.url}>{post.frontmatter.title}</a>
                        </li>
                    ))
                }
            </ul>

            <pre>{JSON.stringify(allPosts, null, 2)}</pre>
        </BaseLayout>
    </body>
</html>
